@model DataLayer.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCategory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductPrice)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to Products", "Index")
</p>

<h4>Go to</h4>
<ul>
    <li><a href="/Logout/Index">Logout</a></li>
    <li><a href="/Admin/Index">Admin Home</a></li>
    <li><a href="/AccountRequest/Index">Account Requests</a></li>
    <li><a href="/Accounts/Index">Manage Accounts</a></li>
    <li><a href="/Product/Index">Manage Products</a></li>
    <li><a href="/Billing/Index">Billing</a></li>
    <li><a href="/Sales/Index">Sales</a></li>
</ul>